<div class="rating">
    <div class="rating-stars">
        
        <ul class="rating-stars-background">
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
        </ul>
        
        <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 60%">
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
        </ul>
    </div>
    <span class="rating-numbers">(65)</span>
</div>