<div class="shell-rwd shell-footer" data-bi-area="Footer" data-bi-view="4xLinks">
            <div class="shell-footer-wrapper">
                <div class="shell-footer-lang">
                    <h4>
                    <a id="locale-picker-link" href="https://unistorefd-int.www.microsoft.com/en-us/store/localepicker" data-bi-name="LocalePicker">
                        <i class="shell-icon-globe"></i>English (United States)‎
                    </a>
                    </h4>
                </div>
                <div class="shell-footer-copyright">
                    <ul>
                        <li>
                            <a id="shellmenu_6c3a452e-f353-4d0e-9cd7-927d9a8f8f09" href="http://support.microsoft.com/contactus" class="ctl_footerNavLink" data-bi-name="ContactUs" data-bi-slot="1">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a id="shellmenu_c83c192e-e62d-4761-ab0a-2b0c0324a530" href="http://www.microsoft.com/privacystatement/en-us/core/default.aspx" class="ctl_footerNavLink" data-bi-name="Privacy" data-bi-slot="2">
                                Privacy &amp; Cookies
                            </a>
                        </li>
                        <li>
                            <a id="shellmenu_6b5deefa-8f25-4ab3-8c9c-cd1431daedef" href="http://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx" class="ctl_footerNavLink" data-bi-name="TermsOfUse" data-bi-slot="3">
                                Terms of Use
                            </a>
                        </li>
                        <li>
                            <a id="shellmenu_c8182806-d3ac-416e-836a-4de57b1f4b7a" href="http://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx" class="ctl_footerNavLink" data-bi-name="Trademarks" data-bi-slot="4">
                                Trademarks
                            </a>
                        </li>
                        <li class="ctl_footerCopyright">
                            © 2015 Microsoft
                        </li>
                    </ul>
                </div>
            </div>
        </div>