<section class="grid fixed section " data-bind="visible: items().length  &gt; 0" data-bi-area="Reco_Related_apps" data-bi-view="1rowX14col" data-bi-source="DisplayCatalog" data-bi-type="4">
    <header class="section-header row">
        <h2 class="section-title col-1-1">Related apps</h2>
        <div class="section-header-aside">
            <div class="section-header-arrows"><button type="button" data-role="none" class="slick-prev slick-disabled" style="display: inline-block;">Previous</button><button type="button" data-role="none" class="slick-next" style="display: inline-block;">Next</button></div>        </div>
        </header>
        <div data-bind="foreach: items" class="section-carousel carousel-8 slick-initialized slick-slider">
            <div class="slick-list draggable" tabindex="0"><div class="slick-track" style="opacity: 1; width: 2100px; transform: translate3d(0px, 0px, 0px);"><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Zappos.com" data-bi-slot="0" data-bi-id="9WZDNCRFJ074" index="0" style="width: 150px;">
                <figure class="media">
                    <div class="media-img ratio-1-1">
                        <a href="https://onestore.dev.microsoft.com/en-us/store/apps/zapposcom/9wzdncrfj074" data-bind="attr: { href: Target }">
                            <img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Zappos.com" src="./Netflix - Microsoft Store_files/apps.50516.9007199266249313.5e977994-df4c-4925-a75e-eb4c4cc6fa70.92dc0704-100c-4ad8-a4db-2d01b2b1b48f" style="background-color: #7299C6">
                        </a>
                    </div>
                    <figcaption class="media-caption">
                    <h4 class="media-header media-header-clamp-2">
                    <a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/zapposcom/9wzdncrfj074">Zappos.com</a>
                    </h4>
                    <div class="media-subheader"></div>
                    
                    <div class="media-price">Free</div>
                    <div class="rating">
                        <div class="rating-stars">
                            
                            <ul class="rating-stars-background">
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                            </ul>
                            
                            <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 70%">
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                                <li><i class="icon-star"></i></li>
                            </ul>
                        </div>
                        <span class="rating-numbers">(444)</span>
                    </div>
                    </figcaption>
                </figure>
            </div><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="mobile.HD Media Player" data-bi-slot="1" data-bi-id="9WZDNCRFJ088" index="1" style="width: 150px;">
            <figure class="media">
                <div class="media-img ratio-1-1">
                    <a href="https://onestore.dev.microsoft.com/en-us/store/apps/mobilehd-media-player/9wzdncrfj088" data-bind="attr: { href: Target }">
                        <img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="mobile.HD Media Player" src="./Netflix - Microsoft Store_files/apps.62785.9007199266249295.e35d1e31-21a3-45ba-bc5b-7f4e958fde25.cc0668bd-da07-47c9-bdd2-a22b004fd32d" style="background-color: #aa0c70">
                    </a>
                </div>
                <figcaption class="media-caption">
                <h4 class="media-header media-header-clamp-2">
                <a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/mobilehd-media-player/9wzdncrfj088">mobile.HD Media Player</a>
                </h4>
                <div class="media-subheader"></div>
                
                <div class="media-price">$3.49</div>
                <div class="rating">
                    <div class="rating-stars">
                        
                        <ul class="rating-stars-background">
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                        
                        <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 70%">
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                    </div>
                    <span class="rating-numbers">(454)</span>
                </div>
                </figcaption>
            </figure>
        </div><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Nextgen Reader" data-bi-slot="2" data-bi-id="9WZDNCRFJ262" index="2" style="width: 150px;">
        <figure class="media">
            <div class="media-img ratio-1-1">
                <a href="https://onestore.dev.microsoft.com/en-us/store/apps/nextgen-reader/9wzdncrfj262" data-bind="attr: { href: Target }">
                    <img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Nextgen Reader" src="./Netflix - Microsoft Store_files/apps.37575.9007199266242697.48431558-4686-49c0-b87d-447191c07e56.29c70dc1-0806-4e14-b37a-8e89ab0532d9" style="background-color: #008299">
                </a>
            </div>
            <figcaption class="media-caption">
            <h4 class="media-header media-header-clamp-2">
            <a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/nextgen-reader/9wzdncrfj262">Nextgen Reader</a>
            </h4>
            <div class="media-subheader"></div>
            
            <div class="media-price">$2.99</div>
            <div class="rating">
                <div class="rating-stars">
                    
                    <ul class="rating-stars-background">
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                    </ul>
                    
                    <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 92%">
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                        <li><i class="icon-star"></i></li>
                    </ul>
                </div>
                <span class="rating-numbers">(4,602)</span>
            </div>
            </figcaption>
        </figure>
    </div><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Engadget" data-bi-slot="4" data-bi-id="9WZDNCRFHW2R" index="3" style="width: 150px;">
    <figure class="media">
        <div class="media-img ratio-1-1">
            <a href="https://onestore.dev.microsoft.com/en-us/store/apps/engadget/9wzdncrfhw2r" data-bind="attr: { href: Target }">
                <img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Engadget" src="./Netflix - Microsoft Store_files/apps.30544.9007199266248336.9bea54a2-4b39-4a61-9bc3-0273d118fd52.02338b2c-c916-479e-b1e2-44768cd5c042" style="background-color: #1e82ad">
            </a>
        </div>
        <figcaption class="media-caption">
        <h4 class="media-header media-header-clamp-2">
        <a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/engadget/9wzdncrfhw2r">Engadget</a>
        </h4>
        <div class="media-subheader"></div>
        
        <div class="media-price">Free</div>
        <div class="rating">
            <div class="rating-stars">
                
                <ul class="rating-stars-background">
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                </ul>
                
                <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 54%">
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                    <li><i class="icon-star"></i></li>
                </ul>
            </div>
            <span class="rating-numbers">(471)</span>
        </div>
        </figcaption>
    </figure>
</div><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="RBC Canada" data-bi-slot="5" data-bi-id="9WZDNCRFJ9WD" index="4" style="width: 150px;">
<figure class="media">
    <div class="media-img ratio-1-1">
        <a href="https://onestore.dev.microsoft.com/en-us/store/apps/rbc-canada/9wzdncrfj9wd" data-bind="attr: { href: Target }">
            <img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="RBC Canada" src="./Netflix - Microsoft Store_files/apps.49084.9007199266251885.3a5f203a-7d54-4f3d-bbc6-54c607fb28b9.bdddeacb-9ab6-451e-8869-ce4a75c7185c" style="background-color: #2B4174">
        </a>
    </div>
    <figcaption class="media-caption">
    <h4 class="media-header media-header-clamp-2">
    <a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/rbc-canada/9wzdncrfj9wd">RBC Canada</a>
    </h4>
    <div class="media-subheader"></div>
    <div class="media-price">Free</div>
    <div class="rating">
        <div class="rating-stars">
            
            <ul class="rating-stars-background">
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
            </ul>
            
            <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 40%">
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
                <li><i class="icon-star"></i></li>
            </ul>
        </div>
        <span class="rating-numbers">(6)</span>
    </div>
    </figcaption>
</figure>
</div><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Bookviser Reader" data-bi-slot="6" data-bi-id="9WZDNCRFJ02G" index="5" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
    <a href="https://onestore.dev.microsoft.com/en-us/store/apps/bookviser-reader/9wzdncrfj02g" data-bind="attr: { href: Target }">
        <img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Bookviser Reader" src="./Netflix - Microsoft Store_files/apps.35258.9007199266249501.2ee7d9dd-abb2-46e6-9535-0e85f86191e3.6cb68702-3e57-4c5c-b7ad-82bcebad2c17" style="background-color: #95c142">
    </a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/bookviser-reader/9wzdncrfj02g">Bookviser Reader</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
    <div class="rating-stars">
        
        <ul class="rating-stars-background">
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
        </ul>
        
        <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 86.00001%">
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
        </ul>
    </div>
    <span class="rating-numbers">(1,861)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="The Weather Channel" data-bi-slot="7" data-bi-id="9WZDNCRFHWSD" index="6" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/the-weather-channel/9wzdncrfhwsd" data-bind="attr: { href: Target }">
    <img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="The Weather Channel" src="./Netflix - Microsoft Store_files/apps.9017.9007199266247655.0c7193b7-817d-4d8a-8d3d-c7395a221e39.a97f97ad-6df0-4841-a71b-b8f34754de69" style="background-color: #2D4FCE">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/the-weather-channel/9wzdncrfhwsd">The Weather Channel</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
    <ul class="rating-stars-background">
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
    </ul>
    <ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 72%">
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
        <li><i class="icon-star"></i></li>
    </ul>
</div>
<span class="rating-numbers">(16,353)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide slick-active" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Lenovo QuickCast" data-bi-slot="8" data-bi-id="9WZDNCRFJ4MW" index="7" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/lenovo-quickcast/9wzdncrfj4mw" data-bind="attr: { href: Target }">
<img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Lenovo QuickCast" src="./Netflix - Microsoft Store_files/apps.40444.9007199266245618.2232af3b-561a-45fa-a536-6f761d3a368b.32f049c1-d351-403d-83de-054141630dc4" style="background-color: #585858">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/lenovo-quickcast/9wzdncrfj4mw">Lenovo QuickCast</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
<ul class="rating-stars-background">
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
</ul>
<ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 78%">
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
    <li><i class="icon-star"></i></li>
</ul>
</div>
<span class="rating-numbers">(14)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="WWE" data-bi-slot="10" data-bi-id="9WZDNCRFHZVZ" index="8" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/wwe/9wzdncrfhzvz" data-bind="attr: { href: Target }">
<img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="WWE" src="./Netflix - Microsoft Store_files/apps.54867.9007199266248882.588f5c63-bbd5-4a27-953c-465cd749a40a.cabdd30a-3e3a-4fd4-8d50-3863e40be0eb" style="background-color: #222222">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/wwe/9wzdncrfhzvz">WWE</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
<ul class="rating-stars-background">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
<ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 78%">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
</div>
<span class="rating-numbers">(1,345)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Endomondo" data-bi-slot="11" data-bi-id="9WZDNCRFJ9WK" index="9" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/endomondo/9wzdncrfj9wk" data-bind="attr: { href: Target }">
<img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Endomondo" src="./Netflix - Microsoft Store_files/apps.5287.9007199266251880.cefed4e4-6643-4f2a-a5f5-8c3f6795714a.6287007a-ffd2-42f4-9f4c-ae161bc706fe" style="background-color: #62a101">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/endomondo/9wzdncrfj9wk">Endomondo</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
<ul class="rating-stars-background">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
<ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 68%">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
</div>
<span class="rating-numbers">(148)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="RMS Viewer" data-bi-slot="12" data-bi-id="9WZDNCRFJCC4" index="10" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/rms-viewer/9wzdncrfjcc4" data-bind="attr: { href: Target }">
<img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="RMS Viewer" src="./Netflix - Microsoft Store_files/apps.42826.9007199266251597.4c011af0-46e7-4951-a1ce-3ef1395d7738.d21710de-cb62-4b79-b281-178f29689b53" style="background-color: #2C619C">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/rms-viewer/9wzdncrfjcc4">RMS Viewer</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
<ul class="rating-stars-background">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
<ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 52%">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
</div>
<span class="rating-numbers">(160)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Nick" data-bi-slot="13" data-bi-id="9WZDNCRFHVNC" index="11" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/nick/9wzdncrfhvnc" data-bind="attr: { href: Target }">
<img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Nick" src="./Netflix - Microsoft Store_files/apps.62554.9007199266248676.82af975d-7358-432d-a6a9-176162b96fb7.9c820fa5-0d0d-49ba-9ad5-5375cdd27eba" style="background-color: #FFFFFF">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/nick/9wzdncrfhvnc">Nick</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
<ul class="rating-stars-background">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
<ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 74%">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
</div>
<span class="rating-numbers">(3,422)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Tube Player" data-bi-slot="14" data-bi-id="9WZDNCRFJCB2" index="12" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/tube-player/9wzdncrfjcb2" data-bind="attr: { href: Target }">
<img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Tube Player" src="./Netflix - Microsoft Store_files/apps.3313.9007199266251629.73a6ab6a-a456-4db8-aecd-074b0aad61b2.1d2711ec-5dfc-4a99-96a3-3bd68fe2da38" style="background-color: #A82400">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/tube-player/9wzdncrfjcb2">Tube Player</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
<ul class="rating-stars-background">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
<ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 72%">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
</div>
<span class="rating-numbers">(14)</span>
</div>
</figcaption>
</figure>
</div><div class="slide slick-slide" data-bind="attr: {&#39;data-bi-name&#39;: Title, &#39;data-bi-slot&#39;: index, &#39;data-bi-id&#39;: Id}" data-bi-name="Great British Chefs" data-bi-slot="15" data-bi-id="9WZDNCRFJ35H" index="13" style="width: 150px;">
<figure class="media">
<div class="media-img ratio-1-1">
<a href="https://onestore.dev.microsoft.com/en-us/store/apps/great-british-chefs/9wzdncrfj35h" data-bind="attr: { href: Target }">
<img class="cli_image" data-bind="attr: { src: Image.ImageUri }, style: { backgroundColor: Image.BgColor }" alt="Great British Chefs" src="./Netflix - Microsoft Store_files/apps.11605.9007199266245638.f878538b-a6cf-414e-86fc-3cc41735e892.12ee423f-d6ab-4902-83b7-495f1a29b16f" style="background-color: #000000">
</a>
</div>
<figcaption class="media-caption">
<h4 class="media-header media-header-clamp-2">
<a class="item-block" data-bind="text: Title, attr: { href: Target }" href="https://onestore.dev.microsoft.com/en-us/store/apps/great-british-chefs/9wzdncrfj35h">Great British Chefs</a>
</h4>
<div class="media-subheader"></div>
<div class="media-price">Free</div>
<div class="rating">
<div class="rating-stars">
<ul class="rating-stars-background">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
<ul class="rating-stars-value" data-bind="style: { width: RatingPercentage + &#39;%&#39;}" style="width: 86.00001%">
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
<li><i class="icon-star"></i></li>
</ul>
</div>
<span class="rating-numbers">(224)</span>
</div>
</figcaption>
</figure>
</div></div></div>
</div>
</section>